<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EducationAPPsysProject"
        tools:targetApi="31">
        <activity
            android:name=".admin.addcourse_folder.uploadingQuestions"
            android:exported="false" />
        <activity
            android:name=".admin.addcourse_folder.uploadVideoPic"
            android:exported="false" />
        <activity
            android:name=".examsection.views.ExamHome"
            android:exported="false" />
        <activity
            android:name=".admin.addcourse_folder.addCourseName"
            android:exported="false" />
        <activity
            android:name=".homepage.abouUs"
            android:exported="false" />
        <activity
            android:name=".homepage.userDeatils"
            android:exported="false" />
        <activity
            android:name=".homepage.courseDetails"
            android:exported="false" />
        <activity
            android:name=".homepage.homeScreen"
            android:exported="false" />
        <activity
            android:name=".Authentication.signup"
            android:exported="false" />
        <activity
            android:name=".admin.adminHomePage"
            android:exported="false" />
        <activity
            android:name=".Authentication.login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".videosection.VideoHome"
            android:exported="false" />
        <activity
            android:name=".videosection.ShowVideo"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>